{% extends 'base.html' %}

{% block head %}

<div class="choose-lang">
    <div>Wybierz język</div>
    <select id="lang">
        <option value="EN-GB">Angielski</option>
        <option value="PL">Polski</option>
    </select>
</div>

<div class="choose-level">
    <div>Wybierz poziom znajomości języka</div>

    <select id="level-choice">
        <option value="text-babbage-001">Easy</option>
        <option value="text-curie-001">Medium</option>
        <option value="text-davinci-002">Hard</option>
    </select>
</div>

<div id="chat">
    <div class="conversation-field">
        <div class="message-field sender-bot">
            <div class="sender">Bot:</div>
            <div class="message">Hello, my name is Adrian. How are you?</div>
        </div>
    </div>
    <div class="message-input-field">
        <input type="text" id="message-sent">
        <button id="send-button">Send</button>
    </div>
</div>

<script src="{{url_for('static', filename='js/chatbot.js')}}"></script>
{% endblock %}