{% extends 'base.html' %}

{% block head %}

<div class="choose-level">
    <div>Wybierz poziom znajomości języka</div>

    <select id="level-choice">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
    </select>
</div>

<div id="chat">
    <div class="conversation-field">
        <div class="message-field">
            <div class="sender">You:</div>
            <div class="message">Hello</div>
        </div>
        <div class="message-field">
            <div class="sender">Bot:</div>
            <div class="message">Hi</div>
        </div>
    </div>
    <div class="message-input-field">
        <input type="text" id="message-sent">
        <button onclick='getResponse()' id="send-button">Send</button>
    </div>
</div>

<script src="{{url_for('static', filename='js/chatbot.js')}}"></script>
{% endblock %}