   <div class="my-message message">Hello, how are you dude. Where are you?</div>
        <div class="ai-message message">I'm in the jungle of my thoughts!</div>
        <div class="my-message message">
          Why are there? I love that you are so gentle. I will remember this
          forever.
        </div>
        <div class="ai-message message">That's very nice to me. Don't leave me!</div>
        <div class="ai-message message">Or I'll will follow you forever!</div>
        <div class="my-message message">Ok. Nevermind.</div>
        <div class="ai-message message">Now we have to learn english :)</div>
        <div class="my-message message">Ok, from where we start?</div>
        <div class="ai-message message">From the very beginning</div>
        <div
          class="my-message message"
          data-bs-container="body"
          data-bs-toggle="popover"
          data-bs-placement="top"
          data-bs-content="Click to correct lang"
        >
          That's very nice to me. Don't leave me!
        </div>
        <div class="ai-message message">That's not my deal. Can't help you.</div>
        <div
          class="ai-message message"
          data-bs-container="body"
          data-bs-toggle="popover"
          data-bs-placement="top"
          data-bs-content="Click to translate"
        >
          Ok, I'll take it on my own
        </div>
        <div
          class="my-message message"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal2"
        >
          She are very bjutifol.
          <i class="bi bi-lightning-fill text-warning"></i>
        </div>
        <div
          class="ai-message message"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Now we have to learn english :)
        </div>