/* fixed layout - chat app style */
html {
  height: 100%;
}
body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* form elements focus-borders removing */
textarea:focus,
input:focus,
.form-control:focus,
button.accordion-button:focus,
button.btn:focus,
button.navbar-toggler,
button.navbar-toggler:focus,
.btn-check:focus + .btn,
.btn:focus {
  outline: 0 !important;
  box-shadow: none;
  border: 0;
  -webkit-box-shadow: none;
}

/* chatting */
.chat-space,
.form-space {
  max-width: 768px;
}
.chat-space {
  background: #ddd;
}
.form-space {
  background: #eee;
}
.my-message,
.ai-message {
  max-width: 70%;
  word-wrap: break-word;
  border-radius: 1rem;
  clear: both;
  line-height: 1.25;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
}
.my-message {
  background-color: #0d6efd;
  color: #fff;
  float: right;
}
.ai-message {
  background-color: #ffc107;
  float: left;
}
.rounded-4 {
  border-radius: 10px !important;
}
.modal-backdrop {
  opacity: 0.85 !important;
}
.modal-content {
  width: auto;
}
li.list-group-item {
  padding: 0;
}
.message-menu li:hover {
  background: #ddd;
}
.popover,
.popover-body {
  background: #000;
  color: #fff;
  line-height: 0.3;
}
.bs-popover-top > .popover-arrow::after {
  border-top-color: #000;
}

.accordion-body button {
  margin-bottom: 5px;
}
.message-menu {
  width: 18rem;
}
.accordion-button,
.accordion-button:not(.collapsed) {
  font-weight: 500;
  color: #000;
}

@media only screen and (max-width: 576px) {
  .navbar-brand {
    font-size: 16px;
  }
  .my-message,
  .ai-message {
    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
  }
}
